input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

/* Firefox */
input[type=number] {
    -moz-appearance: textfield;
}

input:focus {
    outline: green dotted 2px;
}

html,body{
    min-height: 100vh;
}

body {
    @apply 
    h-full sm:h-[100%]; 
    background-color: rgba(0, 0, 0, 0.87);
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container {

    margin-left: auto;
    margin-right: auto;
    padding: 2rem
}

.App {
    background-color: #f8f9fa;
    place-self: center;
    border-radius: 10px;
}

.animteFooter-height {
    max-height: 50px;
    overflow-y: hidden;
}

footer .animteFooter-height:hover{
    @apply max-h-[35rem] sm:max-h-60;
    transition: max-height 250ms ease-in;
}

footer .animteFooter-height-mobile{
    @apply max-h-[35rem] sm:max-h-60;
    transition: max-height 250ms ease-in;
}

footer .footer__content{
    display: none;
}

footer .animteFooter-height:hover  .footer__content{
    display: grid;
    grid-template-columns: repeat(12, 1fr);
}

