.pn__btn {
    @apply
    bg-blue-500
    hover:bg-blue-400  
    text-white
    sm:font-bold 
    p-2
    sm:m-5
    m-1
    ;
}

.pn__btn--green {
    @apply 
    bg-green-500/70
    hover:bg-green-400 
    font-bold
    p-2
    m-5
    rounded-md;
}

.pn__btn--red {
    @apply
    text-black 
    bg-red-700/95 
    hover:bg-red-500
    sm:font-bold
    p-1
    sm:p-2
    sm:m-5
    m-1
    rounded-sm;
}

.pn__hov-green{
    @apply
    hover:bg-green-400
    hover:text-white
    ;
}